/*  your css code here. If applicable */
.container{
    background-color: yellow;
    border: solid black 2px;
}
thead th{
    border: 1px solid rgb(0, 0, 0);
}
tbody td{
    border: 1px solid rgb(0, 0, 0);
}