/*  your css code here. If applicable */
.container{
    background-color: yellow;
    border: solid rgb(0, 0, 0) 1px;
}
thead th{
    border: solid rgb(0, 0, 0) 1px;
}
tbody td{
    border:solid rgb(0, 0, 0)  1px;
}